@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  --azul: #0099b1;
  --verde: #526E2D;
  --marrom: #82491E;
  --amarelo: #FAFD7C;
  --branco: #FFFFFF;
  --preto: #000000;
  font-family: 'Roboto', sans-serif;
}

.toUpperCase {
  text-transform: uppercase;
}

body, h1, p, ul, li {
  margin: 0px;
  padding: 0px;
}

body {
  background: var(--preto);
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  background-color: var(--preto);
  color: var(--amarelo);
  height: 250px;
  position: top;
}

.blue-line {
  background-color: var(--azul);
  height: 8px;
  width: 100%;
}

.logo {
  padding-top: 20px;
}

nav {
  background: var(--amarelo);
  color: var(--preto);
}

.navbar {
  background-color: var(--amarelo);
}

.navbar-list {
  display: flex;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  list-style: none;
  color: #f0f0f0;
  padding: 15px 10px;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: var(--azul);
}

.navbar-item-button {
  display: none;
}

li {
  list-style: none;
  padding: 15px;
}

a {
  color: var(--preto);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.textContent {
  width: 70%;
  margin-left: 16%;
}

.intro {
  max-width: 100%;
  display: block;
  background-size: cover;
}

.intro p {
  display: inline-block;
  text-align: center;
  color: #f8e3b7;
  padding-top: 40px;
  font-size: 25px;
}

.cards {
  padding: 60px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;
}

.container-card {
  width: 18%;
  margin-bottom: 2%;
  background: var(--preto);
  border-radius: 20px;
  display: flex;
  max-width: 1680px;
  min-width: 450px;
  border: 3px solid var(--azul);
}

.card-image img {
  border-radius: 30px;
  padding: 10px;
  height: 200px;
}

.cardsInfo {
  text-align: left;
  color: var(--azul);
  margin: 10px;
  padding-top: 40px;
  font-weight: bold;
}

#filter {
  text-align: center;
  justify-content: center;
}

.select_style {
  font-size: 16px;
  height: 50px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px 5px;
  color: var(--azul);
  background-color: #000000;
  margin: 12px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 20px;
}

.searchButton {
  font-size: 16px;
  height: 50px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px 5px;
  color: var(--azul);
  background-color: #000000;
  margin: 12px;
  cursor: pointer;
  text-decoration: none;
}

option {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

input::placeholder {
  color: #f8e3b7;
  font-size: 14px;
  text-align: center;
}

#btn-search {
  width: 50px;
  justify-content: space-evenly;
  margin: 12px;
}

.calc {
  color: white;
  font-size: 25px;
  padding: 20px;
}

footer {
  background-color: var(--amarelo);
  color: var(--amarelo);
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer h3 {
  padding: 5px;
  color: var(--preto);
}

.social-media-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a {
  padding: 5px;
}

.footer-icon {
  padding: inherit;
  width: 20px;
  height: 20px;
}

/*
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    background: #3b0273;
  }
}
*/

/*
@media screen and (max-width: 500px) {
  .navbar-list {
    flex-direction: column;
  }
  .navbar-item-button {
    list-style: none;
    padding: 10px 10px;
    display: inline-block;
    align-self: flex-end;
  }
  .navbar-button {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .navbar-item {
    display: none;
  }
  .navbar-item.show {
    display: inline-block;
  }
}

@media only screen and (max-width: 320px) {
  .cards {
    padding: 60px;
    display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: uppercase;
  }
  #filter {
    text-align: center;
    justify-content: center;
  }
}*/

@media (max-width:320px) {
  .navbar-list {
    flex-direction: column;
  }
  .navbar-item-button {
    list-style: none;
    padding: 10px 10px;
    display: inline-block;
    align-self: flex-end;
  }
  .navbar-button {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .navbar-item {
    display: none;
  }
  .navbar-item.show {
    display: inline-block;
  }
}

@media (max-width:480px) {
  .navbar-list {
    flex-direction: column;
  }
  .navbar-item-button {
    list-style: none;
    padding: 10px 10px;
    display: inline-block;
    align-self: flex-end;
  }
  .navbar-button {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .navbar-item {
    display: none;
  }
  .navbar-item.show {
    display: inline-block;
  }
}
