* {
  box-sizing: border-box;
  --azul: #0099b1;
  --verde: #526E2D;
  --marrom: #82491E;
  --amarelo: #FAFD7C;
  --branco: #FFFFFF;
  --preto: #000000;
}

.toUpperCase {
  text-transform: uppercase;
}

body, h1, p, ul, li {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Yomogi", cursive;
  background: var(--preto);
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  background-color: var(--preto);
  color: var(--amarelo);
  height: 250px;
  position: top;
}

.blue-line {
  background-color: var(--azul);
  height: 8px;
  width: 100%;
}

.logo {
  padding-top: 35px;
}

nav {
  background: var(--amarelo);
  color: var(--preto);
}

li {
  list-style: none;
  padding: 15px;
}

a {
  color: var(--preto);
  font-size: 20px;
  font-weight: 700;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 15px;
}

/*Inicio da página, foto e texto*/

.intro {
  max-width: 100%;
  display: block;
  background-size: cover;
  padding-top: 40px;
}

.intro p {
  display: inline-block;
  text-align: center;
  color: #f8e3b7;
  padding-top: 40px;
  font-weight: bold;
  font-size: 21px;
}

/*Estilização dos cards*/

.cards {
  padding: 60px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;
}

.container-card {
  width: 18%;
  margin-bottom: 2%;
  background: var(--preto);
  border-radius: 20px;
  /*box-shadow: 10px 12px 15px var(--azul);*/
  display: flex;
  max-width: 1680px;
  min-width: 450px;
  border: 3px solid var(--azul);
}

.card-image img {
  border-radius: 30px;
  padding: 10px;
  height: 200px;
}

.cardsInfo {
  text-align: left;
  color: var(--azul);
  margin: 10px;
  padding-top: 40px;
  font-weight: bold;
}

/*Estilização dos filtros*/

#filter {
  text-align: center;
  justify-content: center;
}

.select_style {
  font-size: 16px;
  height: 50px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px 5px;
  color: var(--azul);
  background-color: #000000;
  margin: 12px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 20px;
}

.searchButton {
  font-size: 16px;
  height: 50px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px 5px;
  color: var(--azul);
  background-color: #000000;
  margin: 12px;
  cursor: pointer;
  text-decoration: none;
}

option {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

input::placeholder {
  /*para mudar a fonte de dentro da caixa de pesquisa*/
  color: #f8e3b7;
  font-size: 14px;
  text-align: center;
}

#btn-search {
  width: 50px;
  justify-content: space-evenly;
  margin: 12px;
}

/*Cálculo*/

.calc {
  color: white;
  font-size: 25px;
  padding: 20px;
}

footer {
  background-color: var(--amarelo);
  color: var(--amarelo);
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer h3 {
  padding: 5px;
  color: var(--preto);
}

.social-media-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a {
  padding: 5px;
}

.footer-icon {
  padding: inherit;
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 768px) {
  /*For iPads and Tablets:*/
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    background: #3b0273;
  }
}

@media only screen and (max-width: 320px) {
  .cards {
    padding: 60px;
    display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: uppercase;
  }
  #filter {
    text-align: center;
    justify-content: center;
  }
}